<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>Git Scanner</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    {{{redocHead}}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="icon" data-react-helmet="true" href="">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--add google analytics id here-->
    <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date(), { 'anonymize_ip': true });
        // add google analytics id here
        gtag('config', '', { 'anonymize_ip': true });
    </script>
</head>

<body>
{{{redocHTML}}}
</body>

</html>
